:root {
    --color-yellow: #f4d04e;
    --color-white: #ffffff;
    --color-grey: #808080;
    --color-black: #121212;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    background-color: var(--color-yellow);
    color: var(--color-black);
}

.card {
    background-color: var(--color-white);
    height: 522px;
    width: 384px;
    filter: drop-shadow(8px 8px 0 var(--color-black));
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card-image {
    background-color: var(--color-yellow);
    height: 200px;
    width: 336px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category {
    background-color: var(--color-yellow);
    height: 29px;
    width: 82px;
    font-weight: 800;
    border-radius: 4px;
    padding: 4px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.publish-date,
.title,
.description {
    text-align: left;
    vertical-align: top;
    border: none;
    outline: none;
    margin-top: 20px;
}

.publish-date,
.author-name {
    font-size: 14px;
}

.title {
    font-size: 24px;
}

.description {
    font-size: 16px;
    color: var(--color-grey);
}

.author {
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 12px;
}

.user-pic {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}